<!--тнιѕ ωєвѕιтє ιѕ ¢яєαтє∂ ву ρяαѕαηηα яσ∂яιgσ ƒσя α¢єѕ ¢σ∂єяѕ ν5.0 ση 28тн мαя¢н 2015 (lk.linkedin.com/in/prasannarodrigo)-->

@font-face {
    font-family: "My Custom Font";
    src: url(../font/Economica-Regular-OTF.otf) format("truetype");
}

@font-face {
    font-family: "Geogrotesque";
    src: url(../font/geogtq-rg-webfont.ttf) format("truetype");
}

@font-face {
    font-family: "Progreso";
    src: url(../font/progreso-condensed-webfont.ttf) format("truetype");
}

.myFont{
    font-family: "Geogrotesque";
}

.myFont-header{
    font-family: "Progreso";
}

/* HOME */
.home_body{
    background-image: url(../img/index_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden -moz-scrollbars-none;
}

/* ABOUT */ 
.about_body{
    background-image: url(../img/about_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about .about_content{
    margin: 0px;
    padding: 15px;
    font-family: "Geogrotesque";
    font-size: 16px;
}

.about .col2 .col{
    position: relative;
    width: 100%;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    background-image: url(../img/bg-content.png);
    border-radius: 10px;
    font-weight: 400;
}

.about .col h1{
    font-size: 5em;
    text-transform: lowercase;
    margin: 0px;
    padding-left: 15px;
}

.about .col hr{
    width: 95%;
    margin: auto;
    border-width: 2px;
    border-color: #000;
}

/* news */
.article{
    text-align: center;
}

.article img{
    width: 50%;
}

/* contact */

.contact .col2 .clearfix{
    /*background-color: #fff;*/
    background-image: url(../img/bg-content.png);
    font-weight: 500;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.contact h2{
    font-family: "Progreso";
    background-color: transparent;
}

.distressed .content h2, .distressed .content h3, .distressed .content p, #latest-tweet p{
    background-color: transparent;
}

.contact .col2 .col{
    width: 46%;
}

.contact_body{
    background-image: url(../img/contact_img.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.col a img{
    border-radius: 6px;
}