.home_body{
    background-image: url(../index_files/index_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.about_body{
    background-image: url(../about_files/about_img.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}