/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

/* FONTS HERE */

/* font face */


@font-face {
    font-family: 'Geogrotesque';
    src: url('../fonts/geogtq-rg-webfont.eot');
    src: url('../fonts/geogtq-rg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-rg-webfont.woff') format('woff'),
         url('../fonts/geogtq-rg-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-rg-webfont.svg#GeogrotesqueRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geogrotesque';
    src: url('../fonts/geog-rgit-webfont.eot');
    src: url('../fonts/geog-rgit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geog-rgit-webfont.woff') format('woff'),
         url('../fonts/geog-rgit-webfont.ttf') format('truetype'),
         url('../fonts/geog-rgit-webfont.svg#GeogrotesqueRegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}


@font-face {
    font-family: 'Geogrotesque';
    src: url('../fonts/geogtq-bd-webfont.eot');
    src: url('../fonts/geogtq-bd-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-bd-webfont.woff') format('woff'),
         url('../fonts/geogtq-bd-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-bd-webfont.svg#GeogrotesqueBold') format('svg');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'Geogrotesque';
    src: url('../fonts/geog-bdit-webfont.eot');
    src: url('../fonts/geog-bdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geog-bdit-webfont.woff') format('woff'),
         url('../fonts/geog-bdit-webfont.ttf') format('truetype'),
         url('../fonts/geog-bdit-webfont.svg#GeogrotesqueBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic, oblique;

}


@font-face {
    font-family: 'GeogrotesqueMedium';
    src: url('../fonts/geogtq-md-webfont.eot');
    src: url('../fonts/geogtq-md-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geogtq-md-webfont.woff') format('woff'),
         url('../fonts/geogtq-md-webfont.ttf') format('truetype'),
         url('../fonts/geogtq-md-webfont.svg#GeogrotesqueMedium') format('svg');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'GeogrotesqueMedium';
    src: url('../fonts/geog-mdit-webfont.eot');
    src: url('../fonts/geog-mdit-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/geog-mdit-webfont.woff') format('woff'),
         url('../fonts/geog-mdit-webfont.ttf') format('truetype'),
         url('../fonts/geog-mdit-webfont.svg#GeogrotesqueMediumItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Progreso';
    src: url('../fonts/progreso-webfont.eot');
    src: url('../fonts/progreso-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/progreso-webfont.woff') format('woff'),
         url('../fonts/progreso-webfont.ttf') format('truetype'),
         url('../fonts/progreso-webfont.svg#ProgresoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* other */

html {
      font-size: 62.5%;
    
    
}

body {
    font-family: "Geogrotesque", Arial, sans-serif;
    font-size: 1.4em;
    line-height: 1.3;
}

select, input, textarea, button { font: 99% "Geogrotesque", Arial, sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/* end fonts */

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
em, i { font-style: italic; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #940013; color:#fff; text-shadow: none; }
::selection { background:#940013; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #940013; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea { color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #d40000; text-decoration: none; }
a:hover { color: #000;  }


/**
 * Primary styles
 *
 */



/*------------------
HTML
------------------*/

html, body, #wrapper {
    height: 100%;
}

#container {
    min-height: 100%;
}

.ie6 #container {
    height: 100%;
}

body {
    background: #000 none;
}

h1, h2, h3, h4, li, p {
    margin: 1em 0;
    line-height: 1.3;
}


h1 {
    font-size: 3em;
    font-family: "Progreso", "Geogrotesque", Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

.no-fontface h1 {
    /* fallback */
    font-size: 2em;
}


h2, .comments h3 {
    font-family: "Progreso", "Geogrotesque", Arial, sans-serif;
}

h2 {
    font-size: 4em;
    font-weight: normal;
    text-transform: uppercase;
    
    margin-top: -0.2em;
    margin-bottom: 0.5em;
}

.no-fontface h2 {
    /* fallback */
    font-size: 3em;
    margin-bottom: 2em;
}

h3 {

    font-size: 1.5em;
    font-weight: normal;
    text-transform: uppercase;
    
}

.contact h3 {
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    
    margin-top: 2em;
}

.comments h3 {
    font-weight: normal;
    font-size: 2.2em;
}

.no-fontface .comments h3 {
    /* fallback */
    font-size: 1.5em;
}


/*------------------
Structure
------------------*/

#container {
    color: #fff;

    position: relative;
    width: 760px;
    margin: 0 auto;
}

header {
    height: 192px;
    padding-top: 30px;
    
    text-align: center;
}

#sitename {
    display: none;
}


#content {
    color: #000;
    padding-bottom: 80px;
}

.content {
    margin: 60px 0 30px 0;
    padding: 30px;
    background-color: #fff;
}

/* distressed backgrounds */

.distressed .content {
    background: url(../img/bg-content.png) repeat;
}

#latest-tweet {
    background: url(../img/bg-content-more-distressed.png) repeat;
}

.distressed .content h2, 
.distressed .content h3, 
.distressed .content p,
#latest-tweet p {
    background-color: #fff;
}


footer {
    position: absolute;
    bottom: 30px;
    left: 0;
    
    width: 100%;
}


/*------------------
Custom content styles
------------------*/

.tagline {
    font-size: 1.3em;
    text-align: center;
    
    
    color: #fff;    
    text-shadow: 0 0 5px #000000, 0 0 10px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=2);
    
    margin: 30px 0 -10px 0;
}

.about .col2 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.about .content {
    margin: 0;
    padding: 15px 30px;
}

.about .kelly .content {
    background-position: center left;
}

.about h2 {
    line-height: 125px;
    height: 125px;
    overflow: hidden;
    
    padding: 0 30px;
    margin-bottom: 0;
}

.about .first h2 {
    text-align: right;
}

.about .travis h2 {
    background: url(../img/bio/travis.jpg) no-repeat top left;
}

.about .kelly h2 {
    background: url(../img/bio/kelly.jpg) no-repeat top right;
}

.contact #content h3 {
    color: #d40000;
}

.contact #content p {
    font-size: 1.25em;
}

.contact #content a {
    color: #000;
    text-decoration: none;
}

.contact #content a:hover {
    color: #d40000;
}

.contact .map {
    text-align: right;
}


.news article,
.news .article {
    margin: 15px 0 30px 0;
}

.news h2 {
    font-family: "Progreso", "Geogrotesque", Arial, sans-serif;
    font-size: 3.3em;
    font-weight: normal;
    text-transform: none;
    
    padding: 0;
    margin: 0 0 10px 0;
}

.no-fontface .news  h2 {
    /* fallback for arial */
    font-size: 2.3em;
    margin-bottom: 0.5em;
}

.news h2 span,
.news h3 span {
    font-family: "Geogrotesque", Arial, sans-serif;
    font-size: 0.3em;
    text-transform: none;
    color: #7c7c7c;
    margin-left: 0.25em;
}

.news h3 span {
    font-size: 0.45em;
}

.news span span {
    font-size: 1em;
}

.news .content {
    position: relative;
    margin: 0;
    padding: 17px 100px 15px 30px;
}

.news-list a {
    color: #000;
    text-decoration: none;
}

.news-list a:hover h2 {
    color: #d40000;
}

.author {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 68px;
    height: 68px;
    
    background-repeat: no-repeat;
    background-position: top right;
    
    z-index: 1;
}

.author-kelly {
    background-image: url(../img/stamp-kelly.gif);
}

.author-travis {
    background-image: url(../img/stamp-travis.gif);
}

.author span {
    display: none;
}

.feature-image img {
    display: block;
}

.news-article h2 {
    margin-bottom: 15px;
    margin-right: 40px;
}

.news-article .content {
    padding: 21px 40px 20px 30px;
}

.news-article .author {
    top: 20px;
    right: 15px;
}

.news-footer {
    margin-top: 0;
    text-align: center;
    text-transform: uppercase;
}

.pagination .prev {
    float: left;
}

.pagination .next {
    float: right;
}

.message {
    color: #888;
}

/*------------------
Maintenance mode
------------------*/

.maintenance #sitename {
    display: block;
}

.maintenance .content {
    text-align: center;
    
    background-color: #000;
    color: #fff;
    
    font-size: 1.2em;
}

.maintenance .estimate {
    font-size: 0.8em;
    color: #666;
    text-transform: uppercase;
}

/*------------------
Footer elements
------------------*/

footer nav li {
    display: inline-block;
}

.ie6 footer nav li,
.ie7 footer nav li {
    display: inline;
}

footer a {
    -webkit-transition: color 0.2s ease-in-out;  
    -moz-transition: color 0.2s ease-in-out;  
    -o-transition: color 0.2s ease-in-out;  
    transition: color 0.2s ease-in-out;  
}

.social-media {
    text-align: center;
}

.social-media li a {
    display: inline-block;
    width: 20px;
    height: 20px;
    overflow: hidden;
    
    margin: 0 0.5em;
    
    background-repeat: no-repeat;
    background-position: top left;
}


.ie6 .social-media li a {
    display: inline;
    margin: 0;
}

.ie6 .social-media li {
    padding: 0 0.5em;
}

.social-media li a:hover,
.social-media li a.hover {
    background-position: bottom left;
}

.social-media .facebook a   { background-image: url(../img/icon_facebook.png); }
.social-media .twitter a    { background-image: url(../img/icon_twitter.png); }
.social-media .linkedin a   { background-image: url(../img/icon_linkedin.png); }

.social-media a span {
    display: none;
}



.affiliates {
    position: absolute;
    right: 0;
    top: 3px;
}

.affiliates a {
    margin: 0 0.5em;
    padding-left: 22px;
    font-weight: bold;
    color: #222;
    text-decoration: none;
    text-transform: lowercase;
    
    background-repeat: no-repeat;
    background-position: center left;
}

.affiliates a:hover {
    color: #444;
}


.affiliates .ke a { background-image: url(../img/icon_ke.png); }
.affiliates .jld a { background-image: url(../img/icon_jld.png); }




/*------------------
Navigation
------------------*/

#primary-navigation {
    font-family: "GeogrotesqueMedium", Helvetica, Arial, sans-serif;
    font-size: 1.15em; 
    text-transform: uppercase;
    
    color: #fff;
    
    text-align: center;
    
    padding-left: 1em; /* nav menu fudge for centering items - tricky cos menu items are different widths */ 
    
}

#primary-navigation li {
    display: inline-block;
    margin: 0 1.5em;
    padding: 0 2px;
    vertical-align: middle;
}

.ie6 #primary-navigation li, 
.ie7 #primary-navigation li {
    display: inline;
}

#primary-navigation .home {
    margin-bottom: -25px;
}

#primary-navigation .home img {
    display: block;
}

#primary-navigation a {
    display: inline-block;
    padding-bottom: 3px;
    color: #fff;
    text-decoration: none;
    
    border-bottom: 3px solid transparent;
    
    -webkit-transition: border 0.2s ease-in-out;  
    -moz-transition: border 0.2s ease-in-out;  
    -o-transition: border 0.2s ease-in-out;  
    transition: border 0.2s ease-in-out;
}

#primary-navigation .current a,
#primary-navigation a:hover,
.about #primary-navigation .about a,
.folio #primary-navigation .folio a,
.contact #primary-navigation .contact a,
.news #primary-navigation .news a {
    border-bottom: 3px solid white;
}

.ie6 #primary-navigation a {
    border-color: red;
	filter: chroma(color=red);
}


#primary-navigation .home .current a,
#primary-navigation .home a:hover {
    border-bottom-color: transparent;
}


/*------------------
Latest Tweet
------------------*/

.twitter {
    position: relative;
    margin-right: 2px;
}


#latest-tweet {
    display: none;
    position: absolute;
    
    width: 300px;
    padding: 15px;
    
    bottom: 50px;
    left: 50%;
    margin-left: -165px;
    
    color: #000;

    text-align: left;
    
    -webkit-box-shadow: 0px 0 3px 0px #cccccc;
    -moz-box-shadow: 0px 0 3px 0px #cccccc;
    box-shadow: 0px 0 3px 0px #cccccc;    
}

#latest-tweet p {
    margin: 0;
}

#latest-tweet #tweet {
    margin-bottom: 0.5em;
}

.desc {
    color: #7b7b7b;  
    text-transform: lowercase;
}

.desc a {
    color: #2a8dc1;
    text-decoration: none;
}

.desc a:hover {
    color: #000;   
}

.arrow {
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    
    width: 21px;
    height: 11px;
    
    background: url(../img/bubble-arrow.png) no-repeat;

}

.ie6 .arrow {
    bottom: -17px;
}

/*------------------
News
------------------*/


/* IE z-index fixes */

.ie .news-articles,
.ie .news-articles .article,
.ie .news-articles .article a,
.ie .news-articles .content,
.ie .author {
    z-index: 1;
}

.ie .news-tools,
.ie .news-tools .extras,
.ie .news-tools .extras li,
.ie #newsletter-form {
    z-index: 100;
}


.news-tools,
.news-footer {
    color: #888;
}

.news-tools a,
.news-footer a {
    color: #888;
    text-decoration: none;
}

.ie6 .news-tools a {
    color: #888 !important;
}

.news-tools a:hover,
.news-tools a.ui-state-hover, 
.news-tools a.ui-state-active,
.news-footer a:hover {
    color: #bbb;
}

.news-tools .categories {
    float: left;
    text-transform: uppercase;
}

.news-tools .categories b {
    font-weight: normal;
    margin-right: 0.5em;
}

.news-tools .extras {
    float: right;
}

.news-tools .extras,
.news-tools .extras li {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.news-tools .extras li {
    display: inline;
    float: left;
    margin-left: 1.5em;
}

.news-tools .extras a {
    text-transform: uppercase;
}

.news-tools .extras a.active {
    color: #bbb;
}

.email {
    background: url(../img/icon_email.png) no-repeat right 4px;
    padding-right: 22px;
}

.rss {
    background: url(../img/icon_rss.png) no-repeat right 1px;
    padding-right: 18px;
}

#newsletter-form {
    width: 220px;
    color: #333;
    
    z-index: 10;
}

#newsletter-form input {
    width: 95%;
    padding: 1%;

    border: 1px solid #666;
    background-color: transparent;
}

#newsletter-form button,
#newsletter-form label {
    font-size: 0.8em;
    text-transform: uppercase;
}

#newsletter-form button {
    border: 2px solid black;
    background-color: #fff;
    
    padding: 0.5em 1em 0.45em 1em;
}

#newsletter-form button:hover {
    background-color: #000;
    color: #fff;
}

.popup {
    display: none;
    position: absolute;
    
    top: 1.5em;
    left: 0;
    
    background-color: #fff;
    padding: 0 1em;
    
    -webkit-box-shadow: 0px 1px 3px 0px #cccccc;
    -moz-box-shadow: 0px 1px 3px 0px #cccccc;
    box-shadow: 0px 1px 3px 0px #cccccc;
}

.ui-selectmenu {
    height: auto;
    padding: 0;
    font-size: 1em;
}

.ui-selectmenu-menu {
    font-size: 0.8em; 
}

p.categories {
    margin: 0;
}

select.categories {
    display: none;
}

/* a.categories is the selector widget */

a.categories {
    display: inline-block;
    width: auto !important;
    padding-right: 30px;

    background: none transparent;
    border: 0;
}

a.categories .ui-selectmenu-status {
    padding: 0;
}

a.categories.ui-state-active .ui-selectmenu-icon,
a.categories.ui-state-hover .ui-selectmenu-icon {
    background-image: url(../img/jquery-ui-images/ui-icons_ffffff_256x240.png);
}

a.categories .ui-selectmenu-icon {
    top: 0;
    margin-top: 0;
}

/* ul.categories is the dropdown */

ul.categories {
    border: 0;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 1px 3px 0px #cccccc;
    -moz-box-shadow: 0px 1px 3px 0px #cccccc;
    box-shadow: 0px 1px 3px 0px #cccccc;
}

ul.categories a {
    padding: 5px 8px;
    color: black;
}

ul.categories a:hover {
    color: black;
}

ul.categories li,
ul.categories li.ui-state-hover {
    border: 0;
    background: none;
}

ul.categories .ui-state-hover a {
    text-decoration: underline;
}


/*------------------
Slideshow
------------------*/

.ie6 #supersized {
    /* probably the best we can do... */
    position: absolute;
}

.ie6 #controls-wrapper {

}

#navigation .slide-nav {
    position: absolute;
    top: 50%;
    margin-top: -22px;
}

.slide-nav img {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
    -moz-opacity:0.80;
    -khtml-opacity: 0.80;
    opacity: 0.8;
    
    
    -webkit-transition: opacity 0.2s ease-in-out;  
    -moz-transition: opacity 0.2s ease-in-out;  
    -o-transition: opacity 0.2s ease-in-out;  
    transition: opacity 0.2s ease-in-out;  
}

.slide-nav img:hover {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=1);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}

#controls-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: auto;
    height: auto;
    background: #000 none;
    

    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
    filter: alpha(opacity=85);
    -moz-opacity:0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
}

#controls {
    padding: 10px 20px;
}

#slideshow-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 190px;
    background: url(../img/bg-top.png) repeat-x;
}

.home #slideshow-top,
.about #slideshow-top {
    -moz-opacity:0.6;
    -khtml-opacity: 0.6;
    opacity: 0.6;
}

.ie6 .home #slideshow-top,
.ie6 .about #slideshow-top,
.ie7 .home #slideshow-top,
.ie7 .about #slideshow-top {
    background-image:  url(../img/bg-top-lighter.png);
}

#slidecaption {
    margin: 0;

    color: #fff;
    opacity: 1;
}

#slidecaption h3, #slidecaption p {
    margin: 0;
}

#slidecaption h3 {
    font-family: "GeogrotesqueMedium";
    text-transform: uppercase;
    font-style: italic;
    font-size: 1em;
}

#slidecaption em {
    font-family: "Geogrotesque";
    font-weight: normal;
    
    margin-left: 1em;

}


/*------------------
Utility
------------------*/

.col {
    float: left;
    margin: 0 1%;
}

.col2 .col {
    width: 49%;
}

.first {
    margin-left: 0;
}

.last {
    margin-right: 0;
}

.ie6 .col {
    display: inline;
}

/**
 * Boilerplate Utility Styles
 *
 */


.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

