/*---- iPhone and other small screen devices ----*/ 

body {
    background-color: #000;
    color: #fff;
}

body.home {
    background: url(../about_files/about_img.jpg); no-repeat center center #000;
}

#container {
    min-height: 400px;
}

header {
    height: auto;
    margin-bottom: 2em; 
}

img {
  max-width: 100%;
} 

#primary-navigation {
    padding-top: 70px;
}

#primary-navigation li {
    margin: 0 0.5em;
    font-size: 0.9em;
}

#primary-navigation .home {
    position: absolute;
    top: 10px;
    left: 50%;
    margin-left: -40px;
    margin-right: 0;
}

#primary-navigation .home img {
    width: 80px;
    height: 80px;
}

#overlay, #slideshow-top, #supersized {
    display: none;
}

#container {
    width: auto;
}

.affiliates {
    position: static;
    right: auto;
    top: auto;
    
    margin-top: 1em;
    
    text-align: center;
}

.affiliates a {
    margin: 0 0.25em; 
}

.col {
    float: none;
    width: auto !important;
    margin: 0 0 2em 0;
}

.about .col2 {
    margin-top: 2em;
}

.about .col {
    background: url(../img/bg-content.png) repeat;
}

.about .col .content {
    min-height: 0 !important;
    padding: 0 15px 15px 15px;
}

.about .tagline {
    padding: 0 15px;
    font-size: 1em !important;
}

.about .tagline br {
    display: none;
}

.about h2 {
    height: 2.5em;
    line-height: 2.5em;
    font-size: 2.5em;
    
    background-size: 70%;
}

.contact .col {
    float: left;
    margin-right: 30px;
}

.contact .map {
    margin-right: 0;
}


.news-tools {
    padding: 0 15px;
}

.news .feature-image {
    width: 100%;
    overflow: hidden;
}
